{
    "tabWidth": 4,
    "bracketSpacing": true,
    "semi": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "printWidth": 80,
    "endOfLine": "auto",
    "quoteProps": "consistent",
    "arrowParens": "avoid",
    "overrides": [
        {
            "files": ["*.md", "*.json", "*.conf.js"],
            "options": {
                "tabWidth": 2
            }
        }
    ]
}
