<div class="container">
    <div class="container mt-5">
        <div class="row">
            <div
                class="
                    col-11 col-xl-11 col-lg-11 col-md-11 col-sm-11
                    offset-md-2 offset-2 offset-lg-2 offset-xl-2
                "
            >
                <h1>Web Componentes with Stencil and Angular</h1>
            </div>
        </div>

        <div class="row mt-5">
            <div
                class="
                    col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3
                    offset-md-1 offset-1 offset-lg-1 offset-xl-1
                "
            >
                <citi-personal-card
                    first-name="Esmeralda"
                    last-name="Rodriguez"
                    resume="Master en Scrum"
                    photo="https://randomuser.me/api/portraits/women/75.jpg"
                    role="Project manager"
                >
                </citi-personal-card>
            </div>

            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
                <citi-personal-card
                    first-name="Mariana"
                    last-name="Del razo"
                    resume="Master en java"
                    photo="https://randomuser.me/api/portraits/women/74.jpg"
                    role="Developer"
                >
                </citi-personal-card>
            </div>

            <div class="col-3 col-xl-3 col-lg-3 col-md-3 col-sm-3">
                <citi-personal-card
                    first-name="Mariana"
                    last-name="Del razo"
                    resume="Master en java"
                    photo="https://randomuser.me/api/portraits/women/76.jpg"
                    role="Java developer"
                >
                </citi-personal-card>
            </div>
        </div>
    </div>
</div>

<router-outlet></router-outlet>
